
<%@poems.each do |poem| %>
  <h2><%=poem[:title]%></h2>
  <h4><%=poem[:author]%></h4>
    <div>
      <iframe style="height: 500px; width: 400px"srcdoc="<%=poem[:lines]%>" sandbox></iframe>
    </div>

   
<%end%> 

