
<%@poems.each do |poem| %>
  <div style="display: inline-block">
    <h2><%=poem[:title]%></h2>
    <h4><%=poem[:author]%></h4>
    <iframe style="height: 500px; width: 400px"src="<%=poem[:link]%>" ></iframe>
  </div>
<%end%>
